// index.sass

$br: 25px

.UserBlock
    border-radius: $br
    padding: 10px
    background-color: #f4f4f4
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)

.divCustom
    margin-left: 10px
    margin-right: 10px

.pCustom
    color: #333
    font-size: 14px
    margin: 5px 0
